body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #5cb85c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.button:hover {
    background-color: #4cae4c;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px); /* Ajuste para margen y relleno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.product-card p {
    margin: 10px 0;
}

.product-card .price {
    font-size: 1.2em;
    color: #5cb85c;
}

.product-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.product-form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.product-form button:hover {
    background-color: #4cae4c;
}
