<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista Productos</h1>
        <a href="{% url 'product-add' %}" class="button">Agregar Producto</a>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p>{{ product.category }}</p>
                    <p class="price">${{ product.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
