{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
<!--    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
<h1 class="texto-rojo"> Productos</h1>
<div>
    Cantidad de Productos: {{no_productos}}
</div>
<div>
    <h2 class="texto-azul"> Detalle de productos</h2>
    <ul>
        {% for producto in productos %}

        <li> Producto {{producto.id}} {{producto.nombre}} PRECIO: {{producto.precio}}$ TIPO: {{producto.descripcion}} categoria: {{producto.categoria}}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>